{% load static %}

<!-- Featured Products -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        {% for product in featured_product %}
        <div class="col-4">
            <a href= "{% url 'detail_products' product.id %}"> <img  src="{{ product.image.url }} " class='pics'> </a>
            <h4>{{ product.title }}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
        {% endfor %}

    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        {% for product in latest_product %}
        <div class="col-4">
            <a href= "{% url 'detail_products' product.id %}"> <img  src="{{ product.image.url }} " class='pics'> </a>
            <h4>{{ product.title }}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Offer -->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images///smartt.png'%}" class="offer-img">
            </div>
            <div class="col-2">
                <p class="offr">Exclusively Available On FAFA CART !!</p><br>
                <h2 class="off">{{ offer_product.title }}</h2>
                <small>{{ offer_product.description }}<br></small>
                <a href="{% url 'detail_products' offer_product.pk %}" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!-- Testimonial -->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>"I recently bought a refrigerator from this site, and I'm extremely satisfied with the product. The energy efficiency is excellent, and it keeps my food fresh for longer. Delivery was fast and hassle-free."</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="{% static 'images///user1.jpg'%}">
                <h3>Dilshahad Akram</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>"Top-notch products and excellent service! I got a vacuum cleaner, and it works like a charm. Very powerful and easy to use. I will definitely be coming back for more home appliances."</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="{% static 'images///user2.jpg'%}">
                <h3>Gaisoon Jafer</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>"I purchased a washing machine, and it has made my life so much easier. The machine is quiet, efficient, and has a variety of useful settings. The customer service was also very helpful when I had questions."</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="{% static 'images///user3.jpg'%}">
                <h3>Nusaim Nasar</h3>
            </div>
        </div>
    </div>
</div>
