{% load static %}
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="{% static 'images////category-1.jpg'%}">
            </div>
            <div class="col-3">
                <img src="{% static 'images////category-2.jpg'%}">
            </div>
            <div class="col-3">
                <img src="{% static 'images////category-3.jpg'%}">
            </div>
        </div>
    </div>
</div>

<!-- Featured Products -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        {% for product in featured_product %}
        <div class="col-4">
            <a href= "{% url 'detail_products' product.id %}"> <img  src="{{ product.image.url }} " class='pics'> </a>
            <h4>{{ product.title }}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        {% endfor %}

    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        {% for product in latest_product %}
        <div class="col-4">
            <a href= "{% url 'detail_products' product.id %}"> <img  src="{{ product.image.url }} " class='pics'> </a>
            <h4>{{ product.title }}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Offer -->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images///exclusive.png'%}" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on FAFA CART</p>
                <h1>Smart Band 4</h1>
                <small>The Mi Smart Band 4 fearures a 39.9%larger (than Mi Band 3) AMOLED color full-touch display
                    with adjustable brightness, so everything is clear as can be.<br></small>
                <a href="products.html" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!-- Testimonial -->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Best collections,good quality ,Highly Reccomended.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="{% static 'images///user1.jpg'%}">
                <h3>Dilshahad Akram</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Previously i used so many products from different leading online and offline markets,i highly reccomending FAFA CART for you.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="{% static 'images///user2.jpg'%}">
                <h3>Gaisoon Jafer</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>If you are a sports person,here this for you the best.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="{% static 'images///user3.jpg'%}">
                <h3>Nusaim Nasar</h3>
            </div>
        </div>
    </div>
</div>
